<div class="mt-2 border-bottom py-4">
  <p class="h5"><%= comment.title %></p>
  <p class="fs-6 text-secondary">
    <strong>Por: </strong>
    <%= comment.user.email %>
  </p>
  <div class="mt-1"><%= comment.content %></div>
</div>