<p style="color: green"><%= notice %></p>

<header class="cover p-4 mb-4">
  <h1>Mi blog personal</h1>
  <p>Uriel Hernández, Web Developer</p>
</header>

<section class="p-4">
  <header>
    <h2> Últimas publiaciones </h2>
    
  </header>
  <div id="posts" class="d-flex gap-3 sjustify-content-center">
    <%#= render partial: "posts/post", collection: @posts %>
    <%= render partial: "posts/card", collection: @posts, as: :post %>
  </div>
</section>

