.cover {
  background-image: url(#{asset_path('bg.jpeg')
});
background-size: cover;
color: white;
min-height: 350px;
display: flex;
flex-direction: column;
justify-content: center;
}

.post {
  // Material design like ward with css
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  width: 350px;
  max-width: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  &.no-cover{
    grid-template-rows: 1fr auto;
  }
  &--cover{
    padding-bottom: 56.25%;
    background-size: cover;
    background-position: center;
  }
  &--body{
    padding: 18px;
  }
}